<!DOCTYPE html>
<html>
<body>

<h1>{{ movie.1 }}</h1>

<p>
<b>Actors:</b>
{{ movie.2 }}
</p>

<p>
<b>Director:</b>
{{ movie.3 }}
</p>

<p>
<b>Rating:</b>
{{ movie.4 }}
</p>

<p>
<b>Duration:</b>
{{ movie.5 }} mins
</p>

<p>
<b>Description:</b>
{{ movie.6 }}
</p>

<p>
<b>Crew:</b>
{{ movie.7 }}
</p>

<p>
<b>Genre:</b>
{{ movie.8 }}
</p>

<p>
<b>Languages:</b>
{{ movie.9 }}
</p>

<form action="/booking/shows/{{ movie.0 }}/" method="POST">
    {% csrf_token %}
    <input type="submit" value="Book Tickets">
</form>
<br>
<a href="/">
    Back to Movies
</a>

</body>
</html>