<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
<h1>Select Seat</h1>
<h1>Select Seats</h1>

<form action="/booking/bookseat/" method="POST">

    {% csrf_token %}

    {% for seat in seats %}

        {% if seat.5 == 'booked' %}

            <button
                disabled
                style="width:70px;height:50px;margin:5px;"
            >
                {{ seat.2 }}
            </button>

        {% else %}

            <label
                style="
                    display:inline-block;
                    width:70px;
                    height:50px;
                    border:1px solid black;
                    text-align:center;
                    margin:5px;
                    padding-top:15px;
                "
            >
                <input
                    type="checkbox"
                    name="seat_ids"
                    value="{{ seat.0 }}"
                >

                {{ seat.2 }}
            </label>

        {% endif %}

    {% endfor %}

    <br><br>

    <input type="submit" value="Pay">

</form>
        <script src="" async defer></script>
    </body>
</html>