<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
<h1>Select Seat</h1>

{% for seat in seats %}

    {% if seat.5 == 'booked' %}

        <button disabled>
            {{ seat.2 }}
        </button>

    {% else %}

        <a href="/book/{{ seat.0 }}/">
            <button>
                {{ seat.2 }}
            </button>
        </a>

    {% endif %}

{% endfor %}
        <script src="" async defer></script>
    </body>
</html>